#boton{
  margin-bottom: 5%;
  margin-left: 6.5%;
  background-color: black;
  color: white;
  border: none;
  width: 20%;
  height: 5%;
  font-size: 150%;
}
.card{
  margin: 5%;
}
h3{
  margin-top: 5%;
  margin-left: 5%;
}
textarea{
  margin-top: 5%;
  margin-left: 5%;
  resize: none;
}